image_base64.py
__pycache__/image_base64.cpython-312.pyc
__pycache__/stylesheet.cpython-312.pyc
icons/__pycache__/styledark_rc.cpython-312.pyc
/__pycache__
/__pycache__
installer_logo_base64.py
/build
citra_util.spec
/__pycache__
/dist
troppical.spec
